<ul id="Nav">
    <li><img src="/NIta.png" id="logo" alt="Logo do Restaurante Tani"></li>
    <li><a class="N_principal" href="/cardapio">Cardapio</a></li>
     <li><a class="N_principal" href="/">sair</a></li>
     <li><a href="/cardapio/gerenciar">Gerenciar Produtos</a></li>
</ul>