<ul id="Nav">
    <li><img src="/NIta.png" id="logo" alt="Logo do Restaurante Tani"></li>
    <li><a class="N_principal" href="/cardapio">Cardapio</a></li>
    <li><a  class="N_principal" href="/fale/new">Contato</a></li>
     <li><a class="N_principal" href="/reserva/new">Reserva</a></li>
     <li><a class="N_principal" href="/">sair</a></li>
</ul>